.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: right;
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
}

.reservations {
    justify-content: justify;
    padding:2em;
    
}

.camp__Name {
    color:lightcyan;
}

.reservForm {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border:solid gray;
    margin: 20px;
    padding: 1px;
    background-color: rgba(155, 133, 133, 0.4);
}
.thank_you {
    color:lightcyan;
    border: solid black;
    text-shadow: 3px 3px 3px black;
    padding: 1em;
    background-color: rgba(155, 133, 133, 0.4);
    
}

.trip-start {
    background:lightgray;
}

.trip-end {
    background:lightgray;
}

.btn.btn-primary {
    background-color:darkslategray;
}

.reservation__button {
    background: darkslategray;
}

.ReservForm__title {
    padding: 1em;
    margin: 1em 0em 1em;
    font-size: 23px;
}

.form__list__header {
    color:darkkhaki;
}

.form-group {
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    font-size: 20px;

}


.form-control {
    font-size: 20px;
}
