.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: right;
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
}

.reservations {
    justify-content: justify;
    padding:2em;
}

.reservForm {
    flex-basis:20%;
    justify-content: justify;
    border:solid gray;
    margin-bottom: 4em;
}

.trip-start {
    background:lightgray;
}

.trip-end {
    background:lightgray;
}

.btn btn-primary {
    background-color:darkslategray;
}

.ReservForm__title {
    padding: 2em;
    margin: 1em 0em 1em;
}

.form__list__header {
    color:darkkhaki;
}