.message {
    padding: 30px;
    background:rgb(109, 122, 134);
    margin-top: 40px;
    margin-right: 50px;
    margin-left: 50px;
    border-radius: 50px;
    font-family: 'Lucida Sans Unicode', 'Arial', serif;
    color:khaki;
    

}

.messages {
    padding: 1em;
}

.message__title {
    text-align: center;
    margin: 10px;
    padding: 12px;
    font-size: 2rem;
    color:lightgoldenrodyellow;
}

.messageForm__title {
    text-align:justify;
    font-family:sans-serif;
    color: lightgoldenrodyellow;
}

.btn btn-primary {
    background:darkslategray;
}

.delete__button {
    background:darkslategray;
}

.edit__button {
    background:darkslategray;
}

.form-control {
    background:lightgray;
    
    
}