.message {
    padding: 1em;
    background:rgb(109, 122, 134);
    margin-top: 3em;
    margin-right: 3em;
    margin-bottom: 1em;
    margin-left: 3em;
    border-radius: 10px;
    font-family: 'Lucida Sans Unicode', 'Arial', serif;
    color:khaki; 
    font-size: 18px;
    

}

.messages {
    padding: 0em;
}

.add__message {
    padding:0em;
}

.message__title {
    text-align: center;
    margin: 0em;
    padding: 0em;
    font-size: 27px;
    color:lightgoldenrodyellow;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.messageForm__title {
    text-align:justify;
    font-family:sans-serif;
    color: lightgoldenrodyellow;
    padding: 0em;
    margin-top: 0em;
}

.btn.btn-primary {
    background:darkslategray;
    padding: 2px;
    margin: 1em 1em 1em;
}

.delete__button {
    background:darkslategray;
}

.edit__button {
    background:darkslategray;
}

text.form-control {
    background:lightgray;
    padding: 2px;
    
    
}