.home {
    display:flex;
    justify-content:right;
    text-align:right;
    color:moccasin;
    padding: 2em;
    font-size: 2rem;
}

.camping__tip__links {
    display: flex;
    justify-content:right;
    text-align:center;
    flex-direction: column;
    margin: 0em 2em 3em;
    padding: 1em;
    border: solid gold;
}

.photo__home {
    flex-direction:center;
    justify-content:right;
    margin: 0em 2em 10em;
    border: solid pink;
    
}

.home__page {
    margin: 0em 0em 0em 0em;
    background-color:darkgrey;
    justify-content: right;
}

