.home {
    text-align:justify;
    color:moccasin;
    padding: 2em;
    font-size: 2rem;
}

.camping__tip__links {
    display: flex;
    justify-content:right;
    text-align:center;
    flex-direction: column;
    margin: 0em 2em 3em;
    padding: 1em;
    border: sold gold;
}

.photo__home {
    flex-direction:center;
    justify-content:center;
    background-color: rgba(255, 255, 255, 0.9); 
    margin: 0em 2em 10em;
}

.home__page {
    margin: 0em 0em 0em 0em;
    border: solid red;
    background-color:lightgray;
}

/* .camp__intro {
    justify-content:space-evenly;
    padding: 5em;
    background:darkolivegreen;
    margin: 0em 2em 3em;
} */