.h1, h1 {
    font-size: 2.5rem;
    margin-top: 400%;
    padding: 100em;
}

fieldset {
    min-width: 0em;
    padding: 30em 1em;
    margin: 1em;
    border: 1em;
    
}

.form--login {
    display: inline-block;
    padding: 5em;
    margin: 0 auto;
    text-align: center;
    font-size: 2em;

}

.form--login > fieldset > input[type="email"],
.form--login > fieldset > input[type="password"] {
    width: 20em;
   
}

.label--login {
    width: 8rem;
    display: inline-block;
    padding: 33em;
    margin-bottom: 500em;
}

.form-control {
    display: block;
    width: 20em;
    height: calc(2.5em + .100rem + 5px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color:darkslategray;
    background:darkslategray;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    
}

.container--login {
    text-align: center;
    padding: 1em;
    margin-bottom: 4em;
}

.form--login {
    min-height: 4rem;
    min-width: 2rem;
    margin-bottom: 3em;
    background-color: hsla(0,0%,100%,0.40);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
  
}

.button--close {
    position: relative;
    bottom: -2rem;
    background:darkslategray;
}

.dialog {
    min-width: 40rem;
    min-height: 5rem;
    
}

.sign__in {
    background:darkslategray;
    margin-top: 1em;
    margin-bottom: 0em;
    padding: 0em;
    width: 100%;
}

.logo {
    width: 30%;
    height: 40%;
    margin-top: 3rem;
    border-radius: 10em;
}

.link--register {
    margin-top: 7em;
    margin-bottom: 0em;
    padding: 5em;
    justify-content: center;
}

.button--area {
    margin-top: 0em;
    margin-bottom: 1em;
    padding: 1em;
    justify-content: center;
}
